.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(39, 8, 112);
    position: relative;
    animation-name: moveCircle;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: horizontal;
}
@keyframes moveCircle {
    0% {
        left: 0;
    }
    100%  {
        left: calc(100vh - 100px);
    }
}